<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <!-- <form action="/appointments/createAppointment" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form> -->
    <%-include ('partials/navbar') %>
    <div class="mx-auto-appointments">
        <div class="appointment-container">
            <form action="/appointments/createAppointment" method='POST' class="shrink">
                <h1>Appointment Info</h1>
                <div class="form-group">
                    <label for="appointment">Enter appointment: </label>
                    <input id="appointment" type="text" placeholder="Enter appointment" name='appointment'>
                </div>
                <div class="form-group">
                    <label for="date">Select date: </label>
                    <input id="date" type="date" name="appointmentDate" placeholder="Enter Todo Item" min="2018-01-01" max="2050-12-31">
                </div>
                <div class="form-group">
                    <label for="time">Enter time: </label>
                    <input id="time" type="time" name ="appointmentTime" placeholder="Enter Todo Item" min="00:00:00" max="23:59:59">
                </div>
                <div class="form-group text">
                    <textarea class="form-control" id="appointmentNotes" name="notes" rows="3" placeholder="Notes.."></textarea>
                  </div>
                  <div class="col-auto">
                    <div class="login-submit" ><button class="login-button" type="submit">Add</button></div>
                  </div>
              </form>
            <div class="appointment-display">
                <ul id="appointment-list">
                    <h1>Your Appointments</h1>
                    <h2><%= user.userName %> has <%= left %> appointments coming up.</h2>
                    <div class="scroll">
                    <% appointments.forEach( el => { %>
                            <div class="todoItem-container">
                                
                                <li class='todoItem' data-id='<%=el._id%>'>
                                    <!-- <img class='<%=el.completed === true?'img_completed':'img_not' %>'/>                          
                                    <span class='<%= el.completed === true ? 'completed' : 'not'%> todo-title'><%= el.appointment %></span>
                                    <span>on <%= el.appointmentDate.toLocaleDateString('en-US', {weekday: 'short', month: 'short', day: 'numeric', year: 'numeric'}) %></span>
                                    <span>at <%= el.appointmentTime %></span>
                                    <span class="todo-notes">Notes: <%= el.notes %></span>
                                    <span class='del'></span> -->
                                    <img class='<%=el.completed === true?'img_completed':'img_not' %>'/>  
                                    <span class='<%= el.completed === true ? 'completed' : 'not'%> todo-title'><%= el.appointment %></span>
                                    <span>on <%= el.appointmentDate.toLocaleDateString('en-DE', {dateStyle: 'full'}) %></span>
                                    <span>at <%= el.appointmentDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }) %></span>
                                    <span>at <%= el.appointmentTime %></span>
                                    <span class="todo-notes">Notes: <%= el.notes %></span>
                                    <span class='del'></span>

                                </li>
                            </div>
                    <% }) %>
                    </ul>
            </div>
        </div>
    </div>
    </div>

    <a href="/logout" style="color: red; margin-left: 40%;">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>