<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Appointments</h1>
    <ul>
    <% appointments.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.appointment %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <!-- <form action="/appointments/createAppointment" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form> -->

    <form>
        <div>
            <label for="appointment">Enter appointment: </label>
            <input id="appointment" type="text" placeholder="Enter appointment" name='todoItem'>
        </div>
        
            <label for="date">Select date: </label>
            <input id="date" type="date" name="appointmentDate" placeholder="Enter Todo Item" min="2018-01-01" max="2018-12-31">
        </div>
        <div>
            <label for="time">Enter time: </label>
            <input id="time" type="time" name ="appointmentTime" placeholder="Enter Todo Item" min="2018-01-01" max="2018-12-31">
        </div>


        <div>
            <textarea class="form-control" id="appointmentNotes" name="notes" rows="3" placeholder="Notes.."></textarea>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </div>
        </div>
      </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>